@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
:root{
    --tenne-tawny:#b6273f;
    --tenne-tawny-dark: #e698a5;
}
body{
    background: rgba(0, 0, 0, 0.2) url('img/bgshopping.jpg') center center fixed;
    background-size: cover;
    background-blend-mode: darken;
    font-weight: 300;
    font-size: 1.05rem;
    line-height: 1.6;
    font-family: 'Poppins', sans-serif;
}

nav{
    background: rgba(255, 255, 255, 0.645);
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    font-family: 'Raleway', sans-serif;
}

label.logo{
    color: #ed506a;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;

}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: #000000;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    font-weight: bold;
    
}

a.active,a:hover{
    background:#ed506a;
    transition: .5s;
}

.checkbtn{
    font-size: 30px;
    color: #ed506a;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}
/*  */
.btn{
    font-family: inherit;
    cursor: pointer;
    outline: 0;
    font-size: 1.05rem;
}
.text{
    opacity: 0.8;
}

.main_title{
    font-size: 3rem;
    background-color: #fff;
    background-image: #fff;
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

p,label{
    color: #f0f0f0;
    font-size: 1.2rem;
}

.title{
    font-size: 2rem;
    color: #fff;
    margin-bottom: 1rem;
}

#search-form{
    position: fixed;
    top: -110%;
    left:0;
    height: 100%;
    width: 100%; 
    z-index: 1004;
    background: rgba(56, 28, 28, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
}

#search-form.active{
    top: 0;
}

#search-form #search-box{
    width: 50rem;
    border-bottom: .1rem solid #fff;
    padding: 1rem 0;
    color: #fff;
    font-size: 1rem;
    text-transform: none;
    background: none;
}

/*  */
.container{
    min-height: 48vh;
    margin-top: 6rem;
}

.meal-search.form-group{
    background: rgba(0, 0, 0, 0.25);
    width: 75%;
}
.meal-wrapper{
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}
.meal-search{
    margin: 2rem;
}
.meal-search cite{
    font-size: 1rem;
}
.meal-search-box{
    margin: 1rem 0;
    display: flex;
    align-items: stretch;
}

.notes_title{
    margin-left: 24%;
}
.search-control,
.search-btn{
    width: 100%;
}

.search-control{
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-family: inherit;
    outline: 0;
    border: 1px solid var(--tenne-tawny);
    color: var(--tenne-tawny);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background: rgba(0, 0, 0, 0.2) url('img/paper.jpg') center center fixed;
    background-size: cover;
    border-style: none;
}
.search-control::placeholder{
    color: lightslategray;
}
.search-btn{
    width: 55px;
    height: 55px;
    font-size: 1.8rem;
    background: var(--tenne-tawny);
    color: #fff;
    border: none;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
}
.search-btn:hover{
    background: var(--tenne-tawny-dark);
}

.btn-default{
    display: inline-block;
	padding: 14px 26px;
	background: #ed506a;
	font-size: 15px;
	font-weight: 600;
	border-radius: 5rem;
	transition: all .38s ease;
    border-style: none;
    margin: 10px;
}
.btn-default:hover{
    background: #ffa8a3;
}

/* meal details */
.meal-details{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    color: #fff;
    background: var(--tenne-tawny);
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    width: 65%;
    height: 90%;
    overflow-y: scroll;
    display: none;
    padding: 2rem 0;
}
.meal-details::-webkit-scrollbar{
    width: 10px;
}
.meal-details::-webkit-scrollbar-thumb{
    background: #f0f0f0;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}


.scroll-top{
	position: fixed;
	bottom: 2.2rem;
	right: 2.2rem;
}
.scroll-top i{
	padding: 8px;
	font-size: 1.4rem;
	color: #fff;
	background: var(--main-color);
	border-radius: 5rem;
}

::-webkit-scrollbar{
    width: 13px;
}

::-webkit-scrollbar-track{
    border-radius: 15px;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.5);
}

::-webkit-scrollbar-thumb{
    background: #ed506a;;
    border-radius: 15px;
}





/* Media Queries */
@media(max-width: 858px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a{
        font-size: 16px;
    }
    .meal-search-box{
        width: 540px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media(max-width: 858px){
    .checkbtn{
        display: block;
    }

    ul{
        position: fixed;
        width: -60%;
        height: 40vh;
        background:rgba(255, 255, 255, 0.645);
        top: 80px;
        right: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a{
        font-size: 17px;
    }

    a:hover,a.active{
        background: none;
        color: #ed506a;
    }

    #check:checked ~ ul{
        right: 0;
    }
    #meal{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
    .meal-item{
        margin: 0;
    }
    .meal-details{
        width: 700px;
    }
}

@media(min-width: 992px){

    .meal-search-box{
        width: 540px;
        margin-left: auto;
        margin-right: auto;
    }

    #meal{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
}
